script(href='https://cdn.tailwindcss.com')
p Thank you #{f_name} for registering with Avuna.
p You can verify your email by clicking on the link below
p 
    a(href=tokenLink class='') Verify email
p 
    a(href=tokenLink class='') #{tokenLink}







    Dear [User],

p We have received a request to reset your password for your Avuna account. Please follow the instructions below to regain access to your account:

p Click on the password reset link below:
    p
        a(href=tokenLink) Click

p You will be directed to a page where you can enter a new password.

p Create a new password that is at least 8 characters long, contains a mix of uppercase and lowercase letters, numbers, and symbols.

p Once you have created your new password, click the "Submit" button.

p If you did not request a password reset, please ignore this email and take necessary actions to secure your account.

Thank you.